img{
  width:70%;
  align-items: center;
}

body{
  background-color: #3B5D6E;
}
#main{
  padding:20px;
  background-color: #9CB0BA;
  color:white;
  border-color: #82CBF0;
  border-style: solid;
  border-width: 10px;
}
h3{
  font-family: fantasy;
  font-size: 150%;
}
#search{
  background-color: #C6E0ED;
  padding: 40px;
}
#output{
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  border-style: solid;
  border-color: #52fa6e;
  color: white;
  font-family: monospace;
}
