.special{
  background-color: #8DCBE6;
  border-style: double;
  border-color: #889AF2;
  border-width: 20px;
  padding: 10px;
  margin:10px;
}

body{
  background-color: #F2D394;
}

div{
  padding:10px;
  margin: 10px;
}

h3{
  font-family: sans-serif;
  font-weight: bolder;

}
